<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let crumb of breadcrumb">
      <app-breadcrums [path]="crumb"></app-breadcrums>
    </li>
  </ol>
</nav>

<app-create-topic></app-create-topic>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)" class="mat-elevation-z8">
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="nom" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Name </th>
      <td mat-cell *matCellDef="let element" style="transform: rotate(0);">
        <a routerLink="/posts/{{element.idTopic}}" class="stretched-link">
          {{element.nom}}
        </a>
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="nbPost">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> NbPosts </th>
      <td mat-cell *matCellDef="let element"> {{element.nbPost}} </td>
    </ng-container>

    <!-- Symbol Column -->

    <ng-container matColumnDef="d_last_mess">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date Last Message </th>

      <td mat-cell *matCellDef="let element"> {{element.d_last_mess}} </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of courses">
  </mat-paginator>
</div>
